	/*added*/
	/*index.php*/
	html, body{
		scroll-behavior: smooth;
		font-family: 'Open Sans', sans-serif;
	}
	.navbar1{
		background-color: green;
		width: 100%;
		top: 0;
		padding-top: 9px;
		padding-right: 40px;
		position: fixed;
		scroll-behavior: smooth;
		overflow: hidden;
		height: 40px;
		text-align: right;
	}
	a{
		color: #fff;
		font-weight: bold;
		text-decoration: none;
		scroll-behavior: smooth;
	}
	a:hover{
		color: red;
		text-decoration: none;
		scroll-behavior: smooth;
	}
	.jumbotron-fluid{
		background-image: url("images/img2.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		margin-top: 40px;
		height: 950px;
		padding-top: 200px;	
		scroll-behavior: smooth;
	}
	.header{
		color: white;
		text-align: center;
		overflow: hidden;
		font-size: 70pt;
		scroll-behavior: smooth;
		text-shadow: 4px 4px 4px #000000;
	}
	.box{
		scroll-behavior: smooth;
		border: solid;
		border-color: white;
		background-color: transparent;
		box-shadow: 4px 4px 4px #000000;
	}
	.get{
		font-size: 13pt;
		color: black;
	}
	.get:hover{
		font-size: 12.5pt;
		color: red;
	}
	.animation{
		scroll-behavior: smooth;
		width: 64px;
		height: 64px;
	}
	#isi{
		border: solid;
		padding: 10px;
		margin-top: 30px;
		margin-left: 60px;
		margin-right: auto;
		scroll-behavior: smooth;
		-webkit-column-count: 4;
	    -moz-column-count: 4;
	    scroll-behavior: smooth;
	    column-count: 4;
	}
	#about{
		width: 325px;
		scroll-behavior: smooth;
		margin-left: 70%;
	}
	.about-img{
		border-radius: 50%;
		width: 320px;
		height: 320px;
		border: solid;
		scroll-behavior: smooth;
		box-shadow: 7px 8px green;
	}
	.about-text{
		margin-top: -170px;
		width: 50%;
		margin-left: 20%;
		font-size: 20pt;
		scroll-behavior: smooth;
	}
	#contact{
		padding-top: 350px;
		padding-bottom: 80px;
	}

	/*report.php*/
	#contrib{
		background-image: url("images/img2.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		margin-top: 40px;
		height: 100%;
		scroll-behavior: smooth;
	}
	.form{
		/*background-color: #7cb5c7;*/
		background-color: white;
		border-radius: 30px;
		border: solid;
		width: 500px;
	}
	.send{
		font-family: cursive;
		background-color: rgb(42, 116, 24); /* Green */
	    border: none;
	    font-family: Ubuntu;
	    color: whitesmoke;
	    padding: 20px;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    cursor: pointer;
	    margin: 50px;
	}
	.send:hover{
		background-color: rgb(155, 148, 148);
	}
	table{
		text-align: left;
		margin-top: 40px;
	}
	.inputreport{
		border: solid;
		text-align: center;
	}


	/*login.php*/
	#login{
		background-image: url("images/img2.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		margin-top: 100px;
		height: 100%;
		scroll-behavior: smooth;
	}
	.navbar2{
		background-color: green;
		width: 100%;
		top: 0;
		margin: -10px -10px;
		padding: -10px -10px;
		position: fixed;
		overflow: hidden;
		height: 40px;
		text-align: right;
	}
	.nav2{
		margin-right: 30px;
	}

	/*new-account*/
	#create{
		background-image: url("images/img2.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		margin-top: 100px;
		height: 100%;
		scroll-behavior: smooth;
	}
	.portal{
		margin-top: auto;
		border-radius: 30px;
		text-align: center;
		font-family: Ubuntu;
		width: 330px;
		height: 370px;
		background-color: white;
		border: solid;
	}
	.nama{
		padding: 5px;
		color: black;
		border-color: black;
		border: solid;
	}
	.username{
		padding: 5px;
		color: black;
		border-color: black;
		border: solid;
	}
	.password{
		padding: 5px;
		color: black;
		border-color: black;
		border: solid;
	}
	.submit{
		background-color: #4CAF50; /* Green */
	    border: none;
	    color: white;
	    padding: 20px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    margin-bottom: 90px;
	    font-family: Ubuntu;
	    cursor: pointer;
	}
	.submit:hover{
		color: white;
		background-color: grey;
		font-family: Ubuntu;
	}
	.create{
		color: black;
		text-decoration: none;
	}
	.create:hover{
		color: red;
		text-decoration: none;
	}
